In [2]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [3]:
df = pd.read_csv('../data/nst-est2017-alldata.csv')

In [4]:
df2 = df[df['DIVISION'] == '1']
df2.set_index('NAME', inplace=True)

In [5]:
list_of_pop_col = [col for col in df2.columns if col.startswith('POP')]
df2 = df2[list_of_pop_col]

In [6]:
data = [go.Scatter(x=df2.columns,
   y=df2.loc[name],
   mode='lines', 
   name=name) for name in df2.index]

In [12]:
pyo.plot(data)

'temp-plot.html'

In [7]:
df2

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
NAME,,,,,,,,
Connecticut,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184
Maine,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907
Massachusetts,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819
New Hampshire,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795
Rhode Island,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639
Vermont,625842,626210,625606,626044,625665,624455,623354,623657